# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env.*.local

# supabase
/supabase/.branches
/supabase/.temp

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
.env*

# local browser test artifacts
/playwright-report/
/test-results/
# storybook
/storybook-static
/public/storybook/
*storybook.log
